examples/01-excel-basic.json
[
  {
    "id": "tab-excel-basic",
    "type": "tab",
    "label": "ExcelJS — Basic example",
    "disabled": false,
    "info": "Creates an xlsx workbook with a styled header row, adds data rows, then saves the Buffer to msg.payload.\nConnect the output to an http-response node to download directly from a browser."
  },
  {
    "id": "excel-inject",
    "type": "inject",
    "z": "tab-excel-basic",
    "name": "Start",
    "props": [{ "p": "payload", "v": "", "vt": "date" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 100,
    "wires": [["excel-create"]]
  },
  {
    "id": "excel-create",
    "type": "exceljs",
    "z": "tab-excel-basic",
    "name": "create workbook",
    "operation": "create",
    "operationType": "str",
    "autoCreateSheet": true,
    "creator": "Node-RED",
    "creatorType": "str",
    "x": 280,
    "y": 100,
    "wires": [["excel-addsheet"], ["excel-error"]]
  },
  {
    "id": "excel-addsheet",
    "type": "exceljs",
    "z": "tab-excel-basic",
    "name": "add sheet",
    "operation": "addSheet",
    "operationType": "str",
    "autoCreateSheet": true,
    "sheetName": "Sales 2024",
    "sheetNameType": "str",
    "tabColor": "1D6F42",
    "tabColorType": "str",
    "sheetState": "visible",
    "sheetStateType": "str",
    "x": 460,
    "y": 100,
    "wires": [["excel-addrows"], ["excel-error"]]
  },
  {
    "id": "excel-addrows",
    "type": "exceljs",
    "z": "tab-excel-basic",
    "name": "add data rows",
    "operation": "addRows",
    "operationType": "str",
    "autoCreateSheet": true,
    "sheet": "Sales 2024",
    "sheetType": "str",
    "rowsData": "[\"Quarter\",\"Agent\",\"Amount\"],[\"Q1\",\"Rossi\",48500],[\"Q2\",\"Bianchi\",52000],[\"Q3\",\"Verdi\",61000],[\"Q4\",\"Neri\",58000]",
    "rowsDataType": "json",
    "x": 650,
    "y": 100,
    "wires": [["excel-styleheader"], ["excel-error"]]
  },
  {
    "id": "excel-styleheader",
    "type": "exceljs",
    "z": "tab-excel-basic",
    "name": "style header row",
    "operation": "styleRange",
    "operationType": "str",
    "autoCreateSheet": true,
    "sheet": "Sales 2024",
    "sheetType": "str",
    "range": "A1:C1",
    "rangeType": "str",
    "rangeStyle": "{\"font\":{\"bold\":true,\"color\":{\"argb\":\"FFFFFFFF\"}},\"fill\":{\"type\":\"pattern\",\"pattern\":\"solid\",\"fgColor\":{\"argb\":\"FF1D6F42\"}}}",
    "rangeStyleType": "json",
    "x": 840,
    "y": 100,
    "wires": [["excel-write"], ["excel-error"]]
  },
  {
    "id": "excel-write",
    "type": "exceljs",
    "z": "tab-excel-basic",
    "name": "write → buffer",
    "operation": "write",
    "operationType": "str",
    "format": "buffer",
    "x": 1030,
    "y": 100,
    "wires": [["excel-debug"], ["excel-error"]]
  },
  {
    "id": "excel-debug",
    "type": "debug",
    "z": "tab-excel-basic",
    "name": "result (Buffer)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 100,
    "wires": []
  },
  {
    "id": "excel-error",
    "type": "debug",
    "z": "tab-excel-basic",
    "name": "ERROR",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 180,
    "wires": []
  }
]
