examples/02-word-report.json
[
  {
    "id": "tab-word-basic",
    "type": "tab",
    "label": "Docx — Basic report",
    "disabled": false,
    "info": "Creates a Word document with a heading, paragraph, bullet list, table, and a page break.\nThe output Buffer is placed in msg.payload — connect to http-response or file-out to save."
  },
  {
    "id": "word-inject",
    "type": "inject",
    "z": "tab-word-basic",
    "name": "Start",
    "props": [{ "p": "payload", "v": "", "vt": "date" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 100,
    "wires": [["word-create"]]
  },
  {
    "id": "word-create",
    "type": "docx",
    "z": "tab-word-basic",
    "name": "create document",
    "operation": "create",
    "operationType": "str",
    "title": "Quarterly Sales Report",
    "titleType": "str",
    "author": "Node-RED",
    "authorType": "str",
    "x": 280,
    "y": 100,
    "wires": [["word-heading"], ["word-error"]]
  },
  {
    "id": "word-heading",
    "type": "docx",
    "z": "tab-word-basic",
    "name": "add heading",
    "operation": "addHeading",
    "operationType": "str",
    "headingText": "Quarterly Sales Report",
    "headingTextType": "str",
    "headingLevel": "1",
    "headingLevelType": "num",
    "headingStyle": "{\"bold\":true,\"color\":\"2E75B6\"}",
    "headingStyleType": "json",
    "x": 460,
    "y": 100,
    "wires": [["word-paragraph"], ["word-error"]]
  },
  {
    "id": "word-paragraph",
    "type": "docx",
    "z": "tab-word-basic",
    "name": "add intro paragraph",
    "operation": "addParagraph",
    "operationType": "str",
    "paraText": "This report summarises the sales performance for the current quarter. Results show a positive trend across all regions.",
    "paraTextType": "str",
    "paraAlignment": "justified",
    "paraAlignmentType": "str",
    "paraSpacing": "{\"before\":120,\"after\":120}",
    "paraSpacingType": "json",
    "x": 660,
    "y": 100,
    "wires": [["word-list"], ["word-error"]]
  },
  {
    "id": "word-list",
    "type": "docx",
    "z": "tab-word-basic",
    "name": "add highlights list",
    "operation": "addList",
    "operationType": "str",
    "listType": "bullet",
    "listTypeType": "str",
    "listItems": "[\"Revenue up 12% YoY\",\"Three new enterprise accounts\",\"Customer satisfaction at 94%\",{\"text\":\"EMEA region leads growth\",\"level\":1}]",
    "listItemsType": "json",
    "x": 860,
    "y": 100,
    "wires": [["word-table"], ["word-error"]]
  },
  {
    "id": "word-table",
    "type": "docx",
    "z": "tab-word-basic",
    "name": "add data table",
    "operation": "addTable",
    "operationType": "str",
    "tableRows": "[[\"Quarter\",\"Agent\",\"Amount\"],[\"Q1\",\"Rossi\",\"€48,500\"],[\"Q2\",\"Bianchi\",\"€52,000\"],[\"Q3\",\"Verdi\",\"€61,000\"]]",
    "tableRowsType": "json",
    "tableHeaderRow": "true",
    "tableHeaderRowType": "bool",
    "columnWidths": "[2500,4000,2500]",
    "columnWidthsType": "json",
    "tableBorders": "true",
    "tableBordersType": "bool",
    "tableHeaderStyle": "{\"bold\":true,\"fill\":\"2E75B6\",\"color\":\"FFFFFF\"}",
    "tableHeaderStyleType": "json",
    "x": 1060,
    "y": 100,
    "wires": [["word-write"], ["word-error"]]
  },
  {
    "id": "word-write",
    "type": "docx",
    "z": "tab-word-basic",
    "name": "write → buffer",
    "operation": "write",
    "operationType": "str",
    "format": "buffer",
    "x": 1250,
    "y": 100,
    "wires": [["word-debug"], ["word-error"]]
  },
  {
    "id": "word-debug",
    "type": "debug",
    "z": "tab-word-basic",
    "name": "result (Buffer)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1430,
    "y": 100,
    "wires": []
  },
  {
    "id": "word-error",
    "type": "debug",
    "z": "tab-word-basic",
    "name": "ERROR",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "x": 1430,
    "y": 200,
    "wires": []
  }
]
