examples/03-pptx-presentation.json
[
  {
    "id": "tab-pptx-basic",
    "type": "tab",
    "label": "PptxGenJS — Basic presentation",
    "disabled": false,
    "info": "Creates a 3-slide PowerPoint presentation:\n  Slide 1 — title slide with dark background and text\n  Slide 2 — bar chart with quarterly data\n  Slide 3 — data table\n\nThe output is a base64 string in msg.payload."
  },
  {
    "id": "pptx-inject",
    "type": "inject",
    "z": "tab-pptx-basic",
    "name": "Start",
    "props": [{ "p": "payload", "v": "", "vt": "date" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 120,
    "wires": [["pptx-create"]]
  },
  {
    "id": "pptx-create",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "create presentation",
    "operation": "create",
    "operationType": "str",
    "layout": "LAYOUT_16x9",
    "layoutType": "str",
    "author": "Node-RED",
    "authorType": "str",
    "company": "Acme Corp",
    "companyType": "str",
    "x": 290,
    "y": 120,
    "wires": [["pptx-slide1"], ["pptx-error"]]
  },
  {
    "id": "pptx-slide1",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "add slide 1 (title)",
    "operation": "addSlide",
    "operationType": "str",
    "background": "{\"color\":\"003366\"}",
    "backgroundType": "json",
    "x": 480,
    "y": 120,
    "wires": [["pptx-title"], ["pptx-error"]]
  },
  {
    "id": "pptx-title",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "title text",
    "operation": "addText",
    "operationType": "str",
    "text": "Sales Performance 2024",
    "textType": "str",
    "position": "{\"x\":0.5,\"y\":1.5,\"w\":12,\"h\":2}",
    "positionType": "json",
    "textStyle": "{\"fontSize\":44,\"bold\":true,\"color\":\"FFFFFF\",\"align\":\"center\",\"fontFace\":\"Calibri\"}",
    "textStyleType": "json",
    "x": 670,
    "y": 120,
    "wires": [["pptx-subtitle"], ["pptx-error"]]
  },
  {
    "id": "pptx-subtitle",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "subtitle text",
    "operation": "addText",
    "operationType": "str",
    "text": "Annual Review — Node-RED Generated",
    "textType": "str",
    "position": "{\"x\":0.5,\"y\":3.8,\"w\":12,\"h\":1}",
    "positionType": "json",
    "textStyle": "{\"fontSize\":20,\"color\":\"AAAAAA\",\"align\":\"center\",\"fontFace\":\"Calibri\"}",
    "textStyleType": "json",
    "x": 870,
    "y": 120,
    "wires": [["pptx-slide2"], ["pptx-error"]]
  },
  {
    "id": "pptx-slide2",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "add slide 2 (chart)",
    "operation": "addSlide",
    "operationType": "str",
    "background": "{\"color\":\"FFFFFF\"}",
    "backgroundType": "json",
    "x": 1070,
    "y": 120,
    "wires": [["pptx-slide2-title"], ["pptx-error"]]
  },
  {
    "id": "pptx-slide2-title",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "chart slide title",
    "operation": "addText",
    "operationType": "str",
    "text": "Quarterly Revenue",
    "textType": "str",
    "position": "{\"x\":0.5,\"y\":0.2,\"w\":12,\"h\":0.8}",
    "positionType": "json",
    "textStyle": "{\"fontSize\":28,\"bold\":true,\"color\":\"003366\",\"fontFace\":\"Calibri\"}",
    "textStyleType": "json",
    "x": 1270,
    "y": 120,
    "wires": [["pptx-chart"], ["pptx-error"]]
  },
  {
    "id": "pptx-chart",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "add bar chart",
    "operation": "addChart",
    "operationType": "str",
    "chartType": "bar",
    "chartTypeType": "str",
    "position": "{\"x\":0.5,\"y\":1.2,\"w\":12,\"h\":5.5}",
    "positionType": "json",
    "chartData": "[{\"name\":\"Revenue\",\"labels\":[\"Q1\",\"Q2\",\"Q3\",\"Q4\"],\"values\":[48500,52000,61000,58000]}]",
    "chartDataType": "json",
    "chartOptions": "{\"showLegend\":true,\"legendPos\":\"b\",\"showTitle\":false,\"dataLabelSize\":11}",
    "chartOptionsType": "json",
    "x": 1470,
    "y": 120,
    "wires": [["pptx-slide3"], ["pptx-error"]]
  },
  {
    "id": "pptx-slide3",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "add slide 3 (table)",
    "operation": "addSlide",
    "operationType": "str",
    "background": "{\"color\":\"F5F5F5\"}",
    "backgroundType": "json",
    "x": 110,
    "y": 280,
    "wires": [["pptx-slide3-title"], ["pptx-error"]]
  },
  {
    "id": "pptx-slide3-title",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "table slide title",
    "operation": "addText",
    "operationType": "str",
    "text": "Sales Detail by Agent",
    "textType": "str",
    "position": "{\"x\":0.5,\"y\":0.2,\"w\":12,\"h\":0.8}",
    "positionType": "json",
    "textStyle": "{\"fontSize\":28,\"bold\":true,\"color\":\"003366\",\"fontFace\":\"Calibri\"}",
    "textStyleType": "json",
    "x": 310,
    "y": 280,
    "wires": [["pptx-table"], ["pptx-error"]]
  },
  {
    "id": "pptx-table",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "add table",
    "operation": "addTable",
    "operationType": "str",
    "tableRows": "[[{\"text\":\"Quarter\",\"options\":{\"bold\":true,\"fill\":\"003366\",\"color\":\"FFFFFF\"}},{\"text\":\"Agent\",\"options\":{\"bold\":true,\"fill\":\"003366\",\"color\":\"FFFFFF\"}},{\"text\":\"Amount\",\"options\":{\"bold\":true,\"fill\":\"003366\",\"color\":\"FFFFFF\"}}],[{\"text\":\"Q1\"},{\"text\":\"Rossi\"},{\"text\":\"€48,500\"}],[{\"text\":\"Q2\"},{\"text\":\"Bianchi\"},{\"text\":\"€52,000\"}],[{\"text\":\"Q3\"},{\"text\":\"Verdi\"},{\"text\":\"€61,000\"}],[{\"text\":\"Q4\"},{\"text\":\"Neri\"},{\"text\":\"€58,000\"}]]",
    "tableRowsType": "json",
    "position": "{\"x\":1,\"y\":1.3,\"w\":11}",
    "positionType": "json",
    "tableOptions": "{\"colW\":[2,4,4],\"border\":{\"type\":\"solid\",\"pt\":1,\"color\":\"CCCCCC\"},\"fontSize\":14}",
    "tableOptionsType": "json",
    "x": 510,
    "y": 280,
    "wires": [["pptx-write"], ["pptx-error"]]
  },
  {
    "id": "pptx-write",
    "type": "pptx",
    "z": "tab-pptx-basic",
    "name": "write → base64",
    "operation": "write",
    "operationType": "str",
    "format": "base64",
    "x": 700,
    "y": 280,
    "wires": [["pptx-debug"], ["pptx-error"]]
  },
  {
    "id": "pptx-debug",
    "type": "debug",
    "z": "tab-pptx-basic",
    "name": "result (base64)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 880,
    "y": 280,
    "wires": []
  },
  {
    "id": "pptx-error",
    "type": "debug",
    "z": "tab-pptx-basic",
    "name": "ERROR",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "x": 880,
    "y": 360,
    "wires": []
  }
]
